.destinations__desc-wrap {
  margin-top: 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid #f1f1f1;
}

.destinations__desc {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 2.4rem;
  letter-spacing: 1px;
  text-align: justify;
}

.destinations__desc::first-letter {
  float: left;
  font-size: 6rem;
  font-weight: 500;
  padding: 14px 24px 8px 24px;
}

.destinations__aside {
  border: 1px solid #f1f1f1;
  padding: 30px;
}

.destinations__aside-list {
  list-style: none;
  padding-left: 0;
}

.destinations__aside-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.destinations__aside-item:last-child {
  margin-bottom: 0;
}

.destinations__aside-img {
  background-color: var(--blue-color);
  padding: 10px;
}

.destinations__aside-img img {
  width: 25px;
  height: 25px;
}

.destinations__aside-title {
  margin-left: 16px;
}

.destinations__aside-label {
  font-size: 1.4rem;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.destinations__aside-desc {
  font-size: 1.4rem;
  color: var(--text-color);
  letter-spacing: 1px;
  margin: 0;
}
